fastapi/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4fe3b81d-143b-4799-acb5-11af339d87b5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1d55iBTWesyx9EZIGdaFMwAkLrFoPzSQB",
          "mode": "list",
          "cachedResultName": "Page Forge",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1d55iBTWesyx9EZIGdaFMwAkLrFoPzSQB"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        192,
        80
      ],
      "id": "373a645d-641c-443f-8412-9af7dac656b5",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BUrqESLg20gYC4ro",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nilp0ec1.api.sanity.io/v2021-06-07/data/mutate/production",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer skXMmVg5okOAGGbamWEO0l9Xzfrl4ZwuMEbVVZzyhltO390vn3AVMB1GK0BorrVm9iw0kDpeVFu2oavseypdUxIDG5s6SCcMq63c7UbzLz22LletBJPOXb7NyFZEafmLtqfgtlHpNDnfvcu6tfBrUY4AoFy4aWUeeoVG3WrW7gJifmoaKmfF"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"mutations\": [\n    {\n      \"create\": {\n        \"_type\": \"page\",\n        \"title\": \"{{$json[\"title\"]}}\",\n        \"slug\": { \"current\": \"{{$json[\"slug\"]}}\" },\n        \"body\": \"{{$json[\"body\"]}}\",\n        \"seo_description\": \"{{$json[\"seo_description\"]}}\",\n        \"image_url\": \"{{$json[\"image_url\"]}}\",\n        \"category\": \"{{$json[\"category\"]}}\"\n      }\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1024,
        80
      ],
      "id": "bc13d308-e787-4410-9bb0-214d93ce12d0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$json[\"id\"]}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        400,
        80
      ],
      "id": "c954f2b3-383b-4eb4-9b9f-e5fa4b1ae7d9",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BUrqESLg20gYC4ro",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        608,
        80
      ],
      "id": "301a2ce2-71b2-48e3-badc-6bd5c0fd4c18",
      "name": "Extract from File"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d76f2a42-bb4e-4635-acb3-8f4b17600890",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "44a80e1ae9f0ea813f9ac4828e6d1ca4dd303bee0b67551648913a1946aab185"
  },
  "id": "vKyvHnUwMnHhSPT0",
  "tags": []
}